<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tensorflow.js Cam</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js"></script>
    <style>
        #video {
            width: 30%;
        }
    </style>
</head>
<body>

    <!-- <button type="button" onclick="init()">Start</button> -->
    <div><canvas id="canvas"></canvas></div>
    <div id="label-container"></div>

    <button id="tilt" onclick="init('https://teachablemachine.withgoogle.com/models/QLN3HQkyf/');" onmouseover="showExampleVideo(this);">Tilt</button>
    <button id="arms" onclick="init('https://teachablemachine.withgoogle.com/models/58mpFoDrG/');" onmouseover="showExampleVideo(this);">Put your hands up</button>
    <button id="jump" onclick="init('https://teachablemachine.withgoogle.com/models/Fhn09Tfoi/');" onmouseover="showExampleVideo(this);">Real Jump</button>
    <div id="video"></div>

    <script type="text/javascript">

        // 이 방식은 Chrome Dino 게임의 자바스크립트 리소스를 이용하여 점프하도록 하는 방식임.
        function JumpWithJavascript() {
            if (!Runner.instance_.tRex.jumping) {
                Runner.instance_.playSound(Runner.instance_.soundFx.BUTTON_PRESS);
            }
            Runner.instance_.tRex.startJump();
        }

        // WinAPI를 이용하여 실제 Keyboard Signal을 기반으로 점프하는 방식임.
        let last_jump_time = 0;
        function jump() {
            let now = performance.now();
            if (now - last_jump_time > 500) {
                const jump_url = 'http://localhost:5000/jump';
                fetch(jump_url);
                last_jump_time = now;
            }
        }

        // More API functions here:
        // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/pose

        // the link to your model provided by Teachable Machine export panel
        // const URL = "https://teachablemachine.withgoogle.com/models/ImuYGIejU/";
        // const URL = "https://teachablemachine.withgoogle.com/models/QFQb0N7BN/";
        // const URL = "https://teachablemachine.withgoogle.com/models/Xv3ZUTROp/";
        // const URL = "https://teachablemachine.withgoogle.com/models/zvWwyEjqu/"; // tilt
        // const URL = "https://teachablemachine.withgoogle.com/models/58mpFoDrG/"; // 팔 들어올리기
        // const URL = "https://teachablemachine.withgoogle.com/models/Fhn09Tfoi/"; // 실제 점프
        let URL = '';

        let model, webcam, ctx, labelContainer, maxPredictions;

        async function init(URL) {
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";

            // load the model and metadata
            // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
            // Note: the pose library adds a tmPose object to your window (window.tmPose)
            model = await tmPose.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();

            // Convenience function to setup a webcam
            const width = 640;
            const height = 480;
            const flip = true; // whether to flip the webcam
            webcam = new tmPose.Webcam(width, height, flip); // width, height, flip

            // request access to the webcam
            await webcam.setup();
            await webcam.play();
            window.requestAnimationFrame(loop);

            // append/get elements to the DOM
            const canvas = document.getElementById("canvas");
            canvas.width = width; canvas.height = height;
            ctx = canvas.getContext("2d");
            labelContainer = document.getElementById("label-container");
            for (let i = 0; i < maxPredictions; i++) { // and class labels
                labelContainer.appendChild(document.createElement("div"));
            }
        }

        async function loop(timestamp) {
            webcam.update();
            await predict();
            window.requestAnimationFrame(loop);
        }

        async function predict() {
            // Prediction #1: run input through posenet
            // estimatePose can take in an image, video or canvas html element
            const { pose, posenetOutput } = await model.estimatePose(webcam.canvas);
            // Prediction 2: run input through teachable machine classification model
            const prediction = await model.predict(posenetOutput);

            for (let i = 0; i < maxPredictions; i++) {
                const classPrediction =
                    `(${i}) ` + prediction[i].className + ": " + prediction[i].probability.toFixed(2);
                labelContainer.childNodes[i].innerHTML = classPrediction;
            }

            if (prediction[0].probability > 0.8) {
                jump();
            }

            // finally draw the poses
            drawPose(pose);
        }

        function drawPose(pose) {
            if (webcam.canvas) {
                ctx.drawImage(webcam.canvas, 0, 0);
                // draw the keypoints and skeleton
                if (pose) {
                    const minPartConfidence = 0.5;
                    // tmPose.drawKeypoints(pose.keypoints, minPartConfidence, ctx);
                    // tmPose.drawSkeleton(pose.keypoints, minPartConfidence, ctx);
                }
            }
        }

    </script>
    <script>
        function showExampleVideo(element) {
            let videoDiv = document.getElementById('video');
            console.log(videoDiv);
            window['element'] = element;
            let id = element.getAttribute('id');
            switch (id) {
                case 'tilt': 
                    break;
                case 'arms':
                    videoDiv.innerHTML = "<video src='/resources/arms.mp4' autoplay='autoplay' controls='false'></video>";
                    break;
                case 'jump':
                    videoDiv.innerHTML = "<video src='/resources/jump.mp4' autoplay='autoplay' controls='false'></video>"
            }
        }
    </script>
</body>
</html>